<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>App Struktur Organisasi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid text-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" th:href="@{/index}">Back</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/employee}">Data Employee</a>
    </li>
  </ul>
  <div><h1>Data Company</h1></div>
  <div class="m-2">
    <a class="h3" th:href="@{/company/new}">Add new Company</a>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="bg-secondary">
      <tr>
        <th>Id</th>
        <th>Nama Company</th>
        <th>Alamat</th>
        <th>Opsi</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="company : ${companyList}">
        <tr>
          <td>[[${company.id}]]</td>
          <td>[[${company.namaCompany}]]</td>
          <td>[[${company.alamat}]]</td>
          <td>
            <a class="h4 me-3" th:href="@{'/company/edit/' + ${company.id}}">Edit</a>
            <a class="h4" th:href="@{'/company/delete/' + ${company.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>