<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>App Struktur Organisasi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid text-center">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" th:href="@{/index}">Back</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/company}">Data Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/export/pdf}">Export PDF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/export/excel}">Export Excel</a>
    </li>
  </ul>
  <div><h1>Data Employee</h1></div>
  <div class="w3-right m-2">
    <a class="h3" th:href="@{/employee/new}">Add new employee</a>
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="bg-secondary">
      <tr>
        <th>Id</th>
        <th>Nama</th>
        <th>Jabatan</th>
        <th>Atasan</th>
        <th>Company</th>
        <th>Opsi</th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="employee : ${employeeList}">
        <tr>
          <td>[[${employee.id}]]</td>
          <td>[[${employee.nama}]]</td>
          <td>[[${employee.jabatan}]]</td>
          <td>[[${employee.atasanId}]]</td>
          <td>[[${employee.company}]]</td>
          <td>
            <a class="h4 me-3" th:href="@{'/employee/edit/' + ${employee.id}}">Edit</a>
            <a class="h4" th:href="@{'/employee/delete/' + ${employee.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>