<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Sikampus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" th:href="@{/css/App.css}">
    <link rel="stylesheet" th:href="@{/css/org_chart1.css}">
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="page-wrapper chiller-theme toggled">
    <div th:insert="layout/sidebar"></div>
    <main class="page-content">
        <div th:remove="tag" th:insert="layout/header"></div>
        <div class="container-fluid" style="min-height: 90vh;">
            <div th:remove="tag" th:insert="layout/content"></div>

        </div>
    </main>
</div>
<div th:remove="tag" th:insert="layout/snackbar"></div>
<div th:remove="tag" th:insert="layout/modal"></div>
</body>
<script type="text/javascript">
    function validateForm(formName) {
        var fr = document.forms[formName];
        for (var i = 0; i < fr.length; i++) {
            var elm = fr.elements[i];
            var elmName = elm.name;
            var val = fr[i].value;
            var labelFor = `label[for="${elmName}"]`;
            labelFor = document.querySelector(labelFor);
            if (elmName !== "") {
                switch (elm.localName.toString()) {
                    case "input":
                        // console.log(document.querySelector('label').attributes["for"].nodeValue);
                        if (labelFor !== null) {
                            if (val == "") {
                                labelFor.classList.remove("d-none");
                                labelFor.classList.add("d-block");
                                return false;
                            } else {
                                labelFor.classList.remove("d-block");
                                labelFor.classList.add("d-none");
                            }
                        }
                        break;
                    case "select":
                        if (labelFor !== null) {
                            if (val == "0" || val == "") {
                                labelFor.classList.remove("d-none");
                                labelFor.classList.add("d-block");
                                return false;
                            } else {
                                labelFor.classList.remove("d-block");
                                labelFor.classList.add("d-none");
                            }
                        }
                        break;
                }
            }
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</html>
