<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

</style>
<div class="row">
    <div>
        <div><p style="text-align: center; color: #2C394B; font-size: 4rem; margin-top: 5rem;"><b>Selamat Datang</b></p></div>
        <div><p style="text-align: center; color: #2C394B; font-size: 2rem; margin-top: -1.5rem;"><b>di</b></p></div>
        <div><p style="text-align: center; color: #082032; font-size: 4rem; margin-top: -1.5rem;"><b>App Sikampus</b></p></div>
    </div>
</div>