<div class="row">
    <div class="col-md-12 col-lg-12">
        <form th:name="frAdd" th:method="POST" th:action="@{/mahasiswa}" th:object="${mahasiswa}"
              onsubmit="return validateForm('frAdd')">
            <input type="hidden" th:field="*{idMahasiswa}">
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{nim}" placeholder="NIM">
                <label for="nim" class="form-text d-none" style="color: #f44336;">Field harus diisi</label>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{namaMahasiswa}" placeholder="Nama">
                <label for="namaMahasiswa" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <div class="form-group">
                <label>Jenis Kelamin</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{jnsKelamin}" value="Pria" checked>
                    <label class="form-check-label">
                        Pria
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{jnsKelamin}" value="Wanita">
                    <label class="form-check-label">
                        Wanita
                    </label>
                </div>
                <label for="jnsKelamin" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" th:field="*{tmpLahir}" placeholder="Tempat Lahir">
                <label for="tmpLahir" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <div class="form-group">
                <input class="form-control" type="date" th:field="*{tglLahir}" placeholder="Tanggal Lahir">
                <label for="tglLahir" class="form-text d-none" style="color: #f44336;">Field harus
                    diisi</label>
            </div>
            <button class="btn btn-primary float-right" type="submit">Simpan</button>
        </form>
    </div>
</div>