<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/">
        <table>
            <tr>
            <th>Masukan Kata :</th>
            <td> <textarea name="kata" maxlength="256"></textarea> </td>
            <td><input type="submit" value="submit"></td>
            </tr>
        </table>
        <p th:text="${hasil1}"></p>
        <ul>
            <th:block th:each="hasil2 : ${hasil2}">
                <li th:utext="${hasil2}">..</li>
            </th:block>
        </ul>

    </form>
</body>
</html>