<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ganjil Genap</title>
</head>
<body>
    <form th:method="POST" action="/">
        <label>Masukan Angka ke-1 :</label>
        <br>
        <input type="text" th:name="a" th:value="${a}">
        <br>
        <label>Masukan Angka ke-2 :</label>
        <br>
        <input type="text" th:name="b" th:value="${b}">
        <br>
        <input type="submit" value="submit">
        <br>
    </form>
    <table>
        <thead>
        <tr>
            <th>Text Hasil</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="res : ${res}">
            <tr>
                <td th:text="${res}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

</body>
</html>