<div class="modal hidden" id="modalDefault" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalTitle"></h6>
                <button id="modalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent"></div>
            <div class="modal-footer" id="modalFooter"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.getElementById('modalDefault').addEventListener('hide.bs.modal', function (evt) {
        setTimeout(function () {
            document.querySelector('#modalTitle, #modalContent, #modalFooter').html('');
        }, 500);
    });
    var modal = document.querySelector("#modalDefault");
    var container = modal.querySelector(".container");

    document.querySelector("#modalClose").addEventListener("click", function (e) {
        modal.classList.replace("shown", "hidden");
    });
</script>